<!DOCTYPE html>\
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "report_css.css" %}">
    <title></title>
  </head>
  <body>
<div class="fixed-bg">
<nav class="navbar navbar-default  navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <a  href="/templates/first_app/MAIN.html">HOME</a>
    <a  href="#">DOCUMENTATION</a>
  </div>
</div>
</nav>
</div>
<div  id="after_container">
   <div class="container" id="one">
    <div><h1>REPORT</h1></div>
     <div id="de">{{a}}</div>
     <div class="drop-zone" id="drop-zone"></div>
    
</div>
</div>
  </body>
  </html>
